# IDE's project files
• idea
# windows thumbnail cache
Thumbs .db
# composer vendor dir
/vendor
# Mac DS_Store Files
• DS_Store
# Large output files
build/output/*
# machine-specific configuration files
• env
config/dev-env.conf|
